body {
  font-family: 'PFAgoraSerifPro', sans-serif; }

.text-deepBlue {
  color: #0092c5; }

.text-blue {
  color: #44afd4; }

.fw-bold {
  font-family: 'PFAgoraSerifProB', sans-serif; }

.mb43 {
  margin-bottom: 43px; }

.bg-white-uzor {
  background-image: url("../assets/bg-white.png"); }

.primary-text {
  font-size: 18px;
  font-family: "PFAgoraSerifPro";
  color: black;
  line-height: 1.2; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 24px;
  font-family: "PFAgoraSerifProB";
  color: #333333;
  line-height: 1.2; }

button {
  outline: none !important; }

.button {
  border-radius: 21px;
  padding: 14px 24px 14px 25px;
  border: 0;
  cursor: pointer; }
  .button.btn-blue {
    background-color: #0092c5;
    font-size: 18px;
    color: white;
    line-height: 0.8; }
  .button.outline-gray {
    border: 1px solid #060606;
    border-radius: 21px;
    font-size: 18px;
    color: #343434;
    line-height: 0.8;
    background-color: rgba(255, 255, 255, 0.961); }
    .button.outline-gray:hover {
      border: 0;
      background-color: #c5c5c5;
      color: white; }
  .button.btn-gray {
    border-radius: 20px;
    background-color: #c5c5c5;
    width: 199px;
    height: 40px;
    font-size: 18px;
    color: white;
    line-height: 1; }

.header-container {
  padding-top: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #afafaf; }
  .header-container p {
    margin-bottom: 0;
    line-height: 1; }
  .header-container .row > .col-auto {
    padding: 0; }
  .header-container .icon {
    background-color: #0092c5;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    display: flex;
    margin-right: 10px; }
    .header-container .icon img {
      margin: auto; }
  .header-container .city-block {
    display: flex; }
    .header-container .city-block .name {
      font-size: 18px;
      color: #232222;
      line-height: 1.2; }
      .header-container .city-block .name a {
        color: #44afd4; }
    .header-container .city-block .change-city {
      font-size: 11px;
      color: #232222;
      padding-left: 10px; }
      .header-container .city-block .change-city img {
        margin-left: 10px; }
  .header-container .content {
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
  .header-container .phone-block {
    display: flex; }
    .header-container .phone-block p {
      text-align: left; }
    .header-container .phone-block .phone {
      font-size: 24px;
      color: #232222;
      line-height: 1.25; }
    .header-container .phone-block .region {
      text-align: left;
      font-size: 15px;
      color: #232222;
      line-height: 1;
      margin-bottom: 0; }

.main-section {
  padding-top: 88px;
  padding-bottom: 198px; }

.tiles {
  padding-top: 124px;
  margin-bottom: 91px; }
  .tiles .tile-item {
    text-align: center; }
    .tiles .tile-item:first-of-type img {
      margin-top: 16px; }
    .tiles .tile-item:nth-of-type(2) img {
      margin-top: 4px; }
    .tiles .tile-item img {
      margin-bottom: 67px; }

.slider {
  background-color: #f7f7f7;
  padding-bottom: 83px; }
  .slider.jeweleries {
    padding-top: 58px; }
  .slider .slider-nav {
    margin-top: 50px;
    margin-bottom: 31px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d0d2d7; }
    .slider .slider-nav .slider-nav--item {
      margin-right: 25px;
      margin-left: 25px;
      padding-bottom: 13px; }
      .slider .slider-nav .slider-nav--item:hover button, .slider .slider-nav .slider-nav--item .active button {
        color: #44afd4; }
        .slider .slider-nav .slider-nav--item:hover button:after, .slider .slider-nav .slider-nav--item .active button:after {
          opacity: 1; }
      .slider .slider-nav .slider-nav--item button {
        padding: 0;
        position: relative;
        background: transparent;
        border: 0;
        font-size: 24px;
        font-family: "PFAgoraSerifPro";
        line-height: 1.2;
        color: #333333; }
        .slider .slider-nav .slider-nav--item button:after {
          position: absolute;
          content: '';
          width: 100%;
          height: 2px;
          background-color: #0092c5;
          bottom: -13px;
          left: 0;
          opacity: 0; }
  .slider .slider-container {
    padding: 0;
    margin-bottom: 28px; }
    .slider .slider-container .slider-item {
      background-color: white;
      height: 500px;
      text-align: center;
      padding-top: 31px; }
      .slider .slider-container .slider-item:hover {
        padding-top: 30px;
        border: 1px solid #44afd4; }
      .slider .slider-container .slider-item h3 {
        font-size: 24px;
        font-family: "PFAgoraSerifProB";
        color: black;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 0; }
      .slider .slider-container .slider-item .item-img {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; }
        .slider .slider-container .slider-item .item-img img {
          margin: auto;
          max-width: 100%;
          width: 100%;
          max-height: 100%; }
      .slider .slider-container .slider-item .item-price-block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 110px;
        border-bottom: 1px solid #d0d2d7;
        border-top: 1px solid #d0d2d7; }
        .slider .slider-container .slider-item .item-price-block .old-price {
          font-size: 24px;
          font-family: "PFAgoraSerifProB";
          color: #b0b0b0;
          text-decoration: line-through;
          line-height: 1.2;
          text-align: center; }
        .slider .slider-container .slider-item .item-price-block .price {
          font-size: 36px;
          font-family: "PFAgoraSerifProB";
          color: black;
          font-weight: bold;
          line-height: 1.2;
          text-align: center; }
      .slider .slider-container .slider-item .item-btn-block {
        padding-top: 21px; }
    .slider .slider-container .owl-dots {
      margin-top: 53px !important; }
    .slider .slider-container .slider-navigation {
      position: relative; }
      .slider .slider-container .slider-navigation .arrow {
        position: absolute; }

.subscribe-section {
  padding-top: 61px;
  padding-bottom: 56px;
  background-image: url("../assets/bg-subscribe.png"); }
  .subscribe-section .subscribe-block {
    width: 100%;
    display: flex;
    margin-top: 43px;
    padding-left: 15px;
    padding-right: 15px; }
    .subscribe-section .subscribe-block input {
      border: 0;
      background-color: #f7f7f7;
      border-radius: 20px;
      width: 100%;
      padding-left: 25px;
      padding-right: 25px;
      margin-right: -190px;
      height: 47px; }
      .subscribe-section .subscribe-block input::placeholder {
        font-size: 18px;
        font-family: "PFAgoraSerifPro";
        color: #333333;
        line-height: 1.2; }
    .subscribe-section .subscribe-block button {
      margin-top: 2px; }

.item-collections {
  justify-content: space-between;
  width: 1170px; }
  .item-collections .item {
    position: relative;
    width: 372px;
    height: 372px;
    margin-bottom: 26px; }
    .item-collections .item .img-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1; }
    .item-collections .item.width-item {
      width: 771px;
      height: 372px; }
      .item-collections .item.width-item .item-content {
        justify-content: space-between;
        padding-left: 42px;
        padding-bottom: 119px;
        padding-top: 126px; }
    .item-collections .item .item-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 33px 51px; }
      .item-collections .item .item-content.centered {
        align-items: center;
        text-align: center; }
      .item-collections .item .item-content .item-name {
        font-size: 24px;
        font-family: "PFAgoraSerifProB";
        color: black;
        text-transform: uppercase;
        line-height: 1.2; }
      .item-collections .item .item-content .button {
        width: 225px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 19px; }

.promo-woman {
  background-image: url("../assets/bg-woman.png");
  background-position-x: 100%;
  background-size: cover;
  height: 731px;
  padding-top: 127px; }
  .promo-woman .logo {
    margin-bottom: 37px; }
  .promo-woman .promo-description {
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    width: 466px; }

.top-nav .top-nav--row {
  padding-top: 9px;
  padding-bottom: 9px;
  justify-content: center; }
  .top-nav .top-nav--row .top-nav--item {
    padding-left: 22px;
    padding-right: 22px;
    border-right: 1px solid #afafaf; }
    .top-nav .top-nav--row .top-nav--item a {
      text-transform: uppercase;
      font-size: 18px;
      color: #232222;
      line-height: 1;
      position: relative; }
      .top-nav .top-nav--row .top-nav--item a:hover, .top-nav .top-nav--row .top-nav--item a .active {
        text-decoration: none;
        color: #44afd4; }
        .top-nav .top-nav--row .top-nav--item a:hover:before, .top-nav .top-nav--row .top-nav--item a .active:before {
          content: '';
          position: absolute;
          top: -12px;
          width: 100%;
          background: #44afd4;
          height: 1px;
          left: 0;
          right: 0;
          margin: auto; }
        .top-nav .top-nav--row .top-nav--item a:hover:after, .top-nav .top-nav--row .top-nav--item a .active:after {
          content: '';
          position: absolute;
          bottom: -12px;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          background: #44afd4;
          height: 1px; }
    .top-nav .top-nav--row .top-nav--item:first-of-type {
      border-left: 1px solid #afafaf; }

.social-block {
  display: flex;
  margin-top: 16px; }
  .social-block .social-block-item {
    margin-right: 6px;
    width: 24px;
    height: 24px;
    display: flex;
    background-color: #afafaf;
    border-radius: 100%; }
    .social-block .social-block-item:hover {
      background-color: #44afd4; }
    .social-block .social-block-item a {
      width: 100%;
      height: 100%;
      display: flex; }
      .social-block .social-block-item a:hover {
        text-decoration: none; }
      .social-block .social-block-item a i {
        margin: auto;
        color: white;
        font-size: 14px; }

footer {
  height: 370px;
  background-image: url("../assets/bg-footer.png");
  padding-top: 75px; }
  footer .copyright {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 36px; }
  footer .logo {
    margin-bottom: 11px; }
  footer .phone {
    font-size: 18px;
    color: #333333;
    line-height: 1.2;
    font-family: 'PFAgoraSerifProB', sans-serif; }
  footer .footer-menu .footer-menu--name {
    font-size: 18px;
    color: #333333;
    font-family: 'PFAgoraSerifProB', sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 8px; }
  footer .footer-menu .footer-menu--item {
    color: #333333;
    font-size: 14px;
    display: block;
    margin-bottom: 4px; }
    footer .footer-menu .footer-menu--item:hover {
      color: #44afd4; }
  footer .payment-block {
    display: flex;
    margin-bottom: 31px;
    margin-top: 16px; }
    footer .payment-block .payment-item {
      border-radius: 20px;
      background-color: white;
      width: 97px;
      height: 41px;
      margin-right: 25px;
      display: flex; }
      footer .payment-block .payment-item img {
        margin: auto; }

@font-face {
  font-family: 'PFAgoraSerifPro';
  src: url("../fonts/pfagoraserifpro-regular.ttf"); }
@font-face {
  font-family: 'PFAgoraSerifProB';
  src: url("../fonts/pfagoraserifpro-bold.ttf"); }