@charset "UTF-8";
body {
  font-family: 'Circe', sans-serif; }

a {
  cursor: pointer !important; }

button {
  cursor: pointer !important; }

input {
  outline: none !important; }

.text-deepBlue {
  color: #0092c5; }

.text-blue {
  color: #44afd4; }

.fw-bold {
  font-weight: bold; }

.mb43 {
  margin-bottom: 43px; }

.bg-white-uzor {
  background-image: url("../assets/bg-white-uzor.png");
  background-size: cover;
  background-repeat: no-repeat; }

.primary-text {
  font-size: 18px;
  font-family: "PFAgoraSerifPro";
  color: black;
  line-height: 1.2; }

.circe {
  font-family: 'Circe', sans-serif; }
  .circe.fw-bold {
    font-weight: bold; }

h1 {
  font-size: 36px; }
  @media (max-width: 991px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-size: 24px;
  font-family: "PFAgoraSerifProB";
  color: #333333;
  line-height: 1.2; }

h3 {
  font-size: 30px;
  font-family: "Circe";
  font-weight: bold;
  line-height: 1.2; }

.main-header {
  text-align: center;
  font-size: 36px;
  font-family: "Circe";
  color: #0092c5;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 41px; }
  @media (max-width: 991px) {
    .main-header {
      font-size: 26px; } }

.catalog {
  padding-top: 49px;
  padding-bottom: 31px; }
  .catalog .main-header {
    padding-bottom: 43px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 25px; }
  .catalog .catalog-menu .menu-row {
    border: 1px solid #dddddd; }
  .catalog .catalog-menu .catalog-menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    font-size: 24px;
    font-family: "Circe";
    line-height: 2;
    text-align: left;
    padding-left: 15px;
    padding-right: 10px;
    color: #333333; }
    .catalog .catalog-menu .catalog-menu-item img {
      opacity: 0;
      width: 9px;
      height: 14px; }
    .catalog .catalog-menu .catalog-menu-item.active {
      color: #0092c5;
      text-decoration: none;
      background-color: #f2f2f2; }
      .catalog .catalog-menu .catalog-menu-item.active img {
        opacity: 1; }
    .catalog .catalog-menu .catalog-menu-item:hover {
      color: #0092c5;
      text-decoration: none;
      background-color: #f2f2f2; }
      .catalog .catalog-menu .catalog-menu-item:hover img {
        opacity: 1; }
    .catalog .catalog-menu .catalog-menu-item:last-of-type {
      border-bottom: 0; }
  @media (max-width: 991px) {
    .catalog .catalog-grid-container > .row {
      justify-content: space-between; } }
  @media (max-width: 767px) {
    .catalog .catalog-grid-container > .row {
      justify-content: center; } }
  .catalog .catalog-grid-container .catalog-item {
    background-color: white;
    height: 500px;
    text-align: center;
    padding-top: 31px;
    position: relative;
    width: 270px;
    border: 1px solid #dddddd;
    margin-bottom: 30px;
    margin-right: 15px; }
    .catalog .catalog-grid-container .catalog-item:nth-of-type(3n) {
      margin-right: 0; }
    @media (max-width: 991px) {
      .catalog .catalog-grid-container .catalog-item {
        margin: 0 0 30px; }
        .catalog .catalog-grid-container .catalog-item:nth-of-type(3n) {
          margin-right: 0; } }
    .catalog .catalog-grid-container .catalog-item:hover {
      border: 1px solid #44afd4; }
    .catalog .catalog-grid-container .catalog-item .promo-label {
      border-radius: 100%;
      position: absolute;
      left: 15px;
      top: 60px;
      width: 53px;
      height: 53px;
      color: white;
      background-color: #f99191;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      font-family: "PFAgoraSerifProB"; }
      .catalog .catalog-grid-container .catalog-item .promo-label .sale-amount {
        font-size: 18px;
        margin-bottom: 0;
        line-height: 1;
        margin-left: -5px;
        margin-bottom: 5px; }
      .catalog .catalog-grid-container .catalog-item .promo-label .text {
        font-size: 11px;
        margin-bottom: 0;
        margin-top: -16px; }
      .catalog .catalog-grid-container .catalog-item .promo-label.new {
        background-color: #6b6b6b;
        font-size: 18px;
        text-transform: uppercase; }
    .catalog .catalog-grid-container .catalog-item h3 {
      font-size: 24px;
      font-family: "PFAgoraSerifProB";
      color: black;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 0; }
    .catalog .catalog-grid-container .catalog-item .item-img {
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .catalog .catalog-grid-container .catalog-item .item-img img {
        margin: auto;
        max-width: 100%;
        width: 100%;
        max-height: 100%; }
    .catalog .catalog-grid-container .catalog-item .item-price-block {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 110px;
      border-bottom: 1px solid #d0d2d7;
      border-top: 1px solid #d0d2d7; }
      .catalog .catalog-grid-container .catalog-item .item-price-block .old-price {
        font-size: 24px;
        font-family: "PFAgoraSerifProB";
        color: #b0b0b0;
        text-decoration: line-through;
        line-height: 1.2;
        text-align: center; }
      .catalog .catalog-grid-container .catalog-item .item-price-block .price {
        font-size: 36px;
        font-family: "PFAgoraSerifProB";
        color: black;
        font-weight: bold;
        line-height: 1.2;
        text-align: center; }
    .catalog .catalog-grid-container .catalog-item .item-btn-block {
      padding-top: 21px; }
  .catalog .pagination {
    margin-top: 10px;
    padding: 0;
    display: flex; }
    .catalog .pagination .pagination-container {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center; }
      .catalog .pagination .pagination-container .arrow {
        padding: 0;
        border: 0;
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 100%;
        width: 28px;
        height: 28px;
        display: flex;
        background-color: #dddddd; }
        .catalog .pagination .pagination-container .arrow:first-of-type {
          padding-right: 2px; }
        .catalog .pagination .pagination-container .arrow:last-of-type {
          padding-left: 2px; }
        .catalog .pagination .pagination-container .arrow img {
          margin: auto; }
        .catalog .pagination .pagination-container .arrow:hover {
          background-color: #42a3cd; }
      .catalog .pagination .pagination-container .pagination-item {
        display: block;
        margin-right: 5px;
        margin-left: 5px;
        color: #dddddd;
        line-height: 1;
        border-bottom: 1px solid #dddddd; }
        .catalog .pagination .pagination-container .pagination-item:hover, .catalog .pagination .pagination-container .pagination-item.active {
          text-decoration: none;
          color: #42a3cd;
          border-bottom: 0; }

button {
  outline: none !important; }

.button {
  border-radius: 21px;
  padding: 14px 24px 14px 25px;
  border: 0;
  cursor: pointer; }
  .button.btn-blue {
    background-color: #0092c5;
    font-size: 18px;
    color: white;
    line-height: 0.8; }
  .button.btn-pink {
    background-color: rgba(249, 145, 145, 0.89);
    font-size: 18px;
    color: white;
    line-height: 0.8; }
  .button.outline-gray {
    border: 1px solid #060606;
    border-radius: 21px;
    font-size: 18px;
    color: #343434;
    line-height: 0.8;
    background-color: rgba(255, 255, 255, 0.961); }
    .button.outline-gray:hover {
      border: 1px solid transparent;
      background-color: #c5c5c5;
      color: white; }
  .button.btn-gray {
    border-radius: 20px;
    background-color: #c5c5c5;
    width: 199px;
    height: 40px;
    font-size: 18px;
    color: white;
    line-height: 1; }

.btn-menu {
  background: transparent;
  border: 0;
  padding: 0; }

.breadcrumbs .breadcrumb-item {
  font-size: 14px;
  cursor: pointer;
  font-family: 'Gilroy',sans-serif;
  font-weight: 300;
  color: #0092c5;
  text-decoration: underline;
  line-height: 1.2; }
  .breadcrumbs .breadcrumb-item:last-of-type {
    color: black;
    text-decoration: none; }
  .breadcrumbs .breadcrumb-item + .breadcrumb-item:before {
    content: '›';
    position: relative;
    top: -1px; }

.header-container {
  padding-top: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #afafaf; }
  @media (max-width: 991px) {
    .header-container {
      padding-bottom: 8px;
      padding-top: 24px;
      border-bottom: 0; } }
  .header-container p {
    margin-bottom: 0;
    line-height: 1; }
  .header-container .row > .col-auto {
    padding: 0; }
  .header-container .icon {
    background-color: #0092c5;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    display: flex;
    margin-right: 10px; }
    .header-container .icon img {
      margin: auto; }
  .header-container .city-block {
    display: flex; }
    @media (max-width: 991px) {
      .header-container .city-block {
        margin-bottom: 36px;
        justify-content: center; } }
    .header-container .city-block .name {
      font-size: 18px;
      color: #232222;
      line-height: 1.2; }
      .header-container .city-block .name a {
        color: #44afd4; }
    .header-container .city-block .change-city {
      font-size: 11px;
      color: #232222;
      padding-left: 10px;
      cursor: pointer;
      top: -8px;
      position: relative; }
      .header-container .city-block .change-city:hover {
        text-decoration: underline; }
      .header-container .city-block .change-city img {
        margin-left: 10px; }
  .header-container .content {
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
    .header-container .content.content-city {
      position: relative; }
      .header-container .content.content-city .change-city-popup {
        top: 45px;
        position: absolute;
        border: 2px solid #0c97c7;
        background-color: white;
        box-shadow: 0px 4px 20px 0px rgba(3, 7, 14, 0.4);
        width: 310px;
        height: 132px;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding-left: 26px; }
        .header-container .content.content-city .change-city-popup span {
          font-size: 18px;
          color: #333333;
          line-height: 1.2; }
        .header-container .content.content-city .change-city-popup .btn-blue {
          margin-right: 16px; }
  @media (max-width: 991px) {
    .header-container .logo {
      text-align: center;
      margin-bottom: 36px; } }
  .header-container .phone-block {
    display: flex; }
    @media (max-width: 991px) {
      .header-container .phone-block {
        margin-bottom: 36px;
        justify-content: center; } }
    .header-container .phone-block p {
      text-align: left; }
    .header-container .phone-block .phone {
      font-size: 24px;
      font-weight: bold;
      color: #232222;
      line-height: 1.25; }
    .header-container .phone-block .region {
      text-align: left;
      font-size: 15px;
      color: #232222;
      line-height: 1;
      margin-bottom: 0; }

.mobile-menu-container {
  display: none; }
  @media (max-width: 991px) {
    .mobile-menu-container {
      display: block; } }
  .mobile-menu-container .mobile-menu {
    align-items: center;
    background-color: #f7f9fc;
    height: 44px;
    padding-left: 13px;
    padding-right: 6px; }
    .mobile-menu-container .mobile-menu .button.btn-blue {
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 14px;
      font-family: "Gilroy";
      font-weight: 300;
      color: white;
      line-height: 1.2; }
      .mobile-menu-container .mobile-menu .button.btn-blue img {
        margin-right: 20px; }

.main-section {
  padding-top: 88px;
  padding-bottom: 198px; }
  @media (max-width: 991px) {
    .main-section {
      padding-top: 30px;
      padding-bottom: 60px; } }

.about-section {
  padding-top: 43px; }
  .about-section h1 {
    margin-bottom: 45px; }
  .about-section p {
    margin-bottom: 0; }
  .about-section .promo-block {
    margin-top: 42px;
    margin-bottom: 94px;
    padding-top: 80px;
    height: 497px;
    background: url("../assets/bg-about-promo.png"); }
    .about-section .promo-block .promo-description img {
      width: 255px; }
    .about-section .promo-block .promo-description .splitter {
      margin-top: 32px;
      margin-bottom: 29px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .about-section .promo-block .promo-description .splitter .split-item-white {
        width: 100px;
        height: 2px;
        border-top: 1px dashed white; }
      .about-section .promo-block .promo-description .splitter img {
        width: 28px;
        margin-right: 15px;
        margin-left: 15px; }
    .about-section .promo-block .promo-description .primary-text {
      font-family: Circe;
      padding-left: 13px;
      padding-right: 13px; }

.about-quality {
  padding-top: 81px;
  padding-bottom: 85px;
  background-image: url("../assets/bg-about-quality.png");
  background-size: cover; }
  @media (max-width: 991px) {
    .about-quality {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .about-quality h3 {
    font-family: Circe;
    margin-bottom: 33px; }
  .about-quality p {
    padding-right: 20px;
    margin-bottom: 0; }

.about-proof {
  padding-top: 81px;
  padding-bottom: 85px; }
  @media (max-width: 991px) {
    .about-proof {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .about-proof h3 {
    font-family: Circe;
    margin-bottom: 33px; }
  .about-proof p {
    margin-bottom: 0; }

.about-individuality {
  padding-top: 78px;
  padding-bottom: 78px;
  background-image: url("../assets/bg-about-individuality.png");
  background-size: cover; }
  @media (max-width: 991px) {
    .about-individuality {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .about-individuality h3 {
    font-family: Circe;
    margin-bottom: 33px; }
  .about-individuality p {
    margin-bottom: 0; }
  .about-individuality .about-description {
    padding-left: 15px;
    width: 417px; }
    @media (max-width: 991px) {
      .about-individuality .about-description {
        width: 100%; } }

.tiles {
  padding-top: 124px;
  margin-bottom: 91px; }
  .tiles .tile-item {
    text-align: center; }
    .tiles .tile-item:first-of-type img {
      margin-top: 16px; }
    .tiles .tile-item:nth-of-type(2) img {
      margin-top: 4px; }
    .tiles .tile-item img {
      margin-bottom: 67px; }

.item-section {
  padding-top: 52px;
  padding-bottom: 90px; }
  @media (max-width: 991px) {
    .item-section {
      padding-top: 30px;
      padding-bottom: 40px; } }
  .item-section .catalog-item-slider-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .item-section .catalog-item-slider-container .image-preview-container {
      width: 100%;
      border: 1px solid #e4e4e4;
      margin-bottom: 12px; }
      .item-section .catalog-item-slider-container .image-preview-container img {
        max-width: 100%;
        width: 100%; }
    .item-section .catalog-item-slider-container .image-thumb {
      width: 22%;
      border: 1px solid #e4e4e4;
      margin-bottom: 14px; }
      .item-section .catalog-item-slider-container .image-thumb:hover, .item-section .catalog-item-slider-container .image-thumb.active {
        border-color: #44afd4; }
      .item-section .catalog-item-slider-container .image-thumb img {
        max-width: 100%;
        width: 100%; }
  .item-section .catalog-item-description-container {
    padding-left: 40px; }
    @media (max-width: 991px) {
      .item-section .catalog-item-description-container {
        padding-left: 15px; } }
    .item-section .catalog-item-description-container .main-header {
      width: 50%;
      line-height: 1.2;
      margin-bottom: 30px; }
    .item-section .catalog-item-description-container .p-more-info {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.2; }
    .item-section .catalog-item-description-container .p-item-description {
      font-size: 18px;
      font-family: "Circe";
      color: black;
      line-height: 1.2;
      margin-bottom: 3px; }
    .item-section .catalog-item-description-container .splitter {
      height: 1px;
      width: 100%;
      background-color: #e4e4e4;
      margin-bottom: 20px; }
      .item-section .catalog-item-description-container .splitter:first-of-type {
        margin-top: 30px; }
    .item-section .catalog-item-description-container .old-price {
      font-size: 24px;
      font-family: "Circe";
      color: #b0b0b0;
      font-weight: bold;
      text-decoration: line-through;
      line-height: 1.2;
      margin-bottom: 5px; }
    .item-section .catalog-item-description-container .current-price {
      font-size: 36px;
      color: black;
      font-weight: bold;
      line-height: 1.2; }
    .item-section .catalog-item-description-container button.outline-gray {
      margin-top: 8px;
      font-size: 18px;
      text-align: center;
      width: 185px; }

.sales {
  padding-top: 49px;
  padding-bottom: 31px; }
  .sales .sale-promo-item {
    margin-bottom: 39px;
    height: 414px;
    padding-right: 180px;
    margin-left: -35px;
    margin-right: -35px;
    background-size: cover;
    border: 1px solid #dddddd;
    position: relative;
    display: flex;
    align-items: center; }
    @media (max-width: 991px) {
      .sales .sale-promo-item {
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        background: #f9fffd !important;
        border: 1px solid #44afd4;
        height: 400px; } }
    .sales .sale-promo-item .sale-floating-item {
      position: absolute;
      border-radius: 50%;
      background-color: #f89c9a;
      width: 149px;
      height: 149px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (max-width: 991px) {
        .sales .sale-promo-item .sale-floating-item {
          width: 80px;
          height: 80px; } }
      .sales .sale-promo-item .sale-floating-item p {
        margin-bottom: 0; }
      .sales .sale-promo-item .sale-floating-item .text {
        font-size: 25px;
        font-family: "Circe";
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        margin-bottom: 16px; }
        @media (max-width: 991px) {
          .sales .sale-promo-item .sale-floating-item .text {
            font-size: 14px;
            margin-bottom: 8px; } }
      .sales .sale-promo-item .sale-floating-item .value {
        font-size: 30px;
        font-family: "Circe";
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        text-align: center; }
        @media (max-width: 991px) {
          .sales .sale-promo-item .sale-floating-item .value {
            font-size: 16px; } }
    .sales .sale-promo-item:nth-of-type(1) {
      background-image: url("../assets/sale-promo1.png"); }
      @media (max-width: 991px) {
        .sales .sale-promo-item:nth-of-type(1) .sale-floating-item {
          top: -25px;
          right: -15px; } }
      @media (min-width: 992px) {
        .sales .sale-promo-item:nth-of-type(1) .sale-floating-item {
          bottom: 19px;
          left: 15px; } }
    .sales .sale-promo-item:nth-of-type(2) {
      background-image: url("../assets/sale-promo2.png"); }
      @media (max-width: 991px) {
        .sales .sale-promo-item:nth-of-type(2) .sale-floating-item {
          top: -25px;
          right: -15px; } }
      @media (min-width: 992px) {
        .sales .sale-promo-item:nth-of-type(2) .sale-floating-item {
          bottom: 19px;
          left: 404px; } }
    .sales .sale-promo-item:nth-of-type(3) {
      background-image: url("../assets/sale-promo3.png"); }
      @media (max-width: 991px) {
        .sales .sale-promo-item:nth-of-type(3) .sale-floating-item {
          top: -25px;
          right: -15px; } }
      @media (min-width: 992px) {
        .sales .sale-promo-item:nth-of-type(3) .sale-floating-item {
          bottom: 19px;
          left: 15px; } }
    .sales .sale-promo-item .sale-text-block {
      width: 242px;
      margin-left: auto; }
      @media (max-width: 991px) {
        .sales .sale-promo-item .sale-text-block {
          width: 100%;
          padding-left: 15px;
          padding-right: 15px; } }
      .sales .sale-promo-item .sale-text-block h5 {
        font-size: 24px;
        font-family: "Circe";
        color: black;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 30px; }
      .sales .sale-promo-item .sale-text-block p {
        font-family: "Circe";
        color: black;
        line-height: 1.2;
        margin-bottom: 30px; }
      .sales .sale-promo-item .sale-text-block button {
        margin-top: 8px;
        font-size: 18px;
        font-family: "Circe";
        line-height: 1; }

.magazines {
  padding-top: 49px;
  padding-bottom: 31px; }
  @media (max-width: 991px) {
    .magazines {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .magazines .magazine-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px; }
    .magazines .magazine-row .slider-block {
      width: 61%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 991px) {
        .magazines .magazine-row .slider-block {
          width: 100%;
          order: 2; } }
      .magazines .magazine-row .slider-block .arrow {
        border: 0;
        padding: 0;
        background: transparent; }
      .magazines .magazine-row .slider-block .slider-content {
        width: calc(100% - 68px); }
        .magazines .magazine-row .slider-block .slider-content .owl-dots {
          margin-top: 25px; }
          .magazines .magazine-row .slider-block .slider-content .owl-dots .owl-dot.active span {
            background: #0092c5; }
    .magazines .magazine-row .description-block {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 53px; }
      @media (max-width: 991px) {
        .magazines .magazine-row .description-block {
          width: auto;
          padding-left: 30px;
          padding-right: 30px;
          order: 0; } }
      .magazines .magazine-row .description-block h4 {
        font-size: 24px;
        font-family: "Circe";
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 0; }
        .magazines .magazine-row .description-block h4 .city {
          width: 100%;
          display: block; }
      .magazines .magazine-row .description-block .contacts-block .contact {
        display: flex;
        margin-bottom: 4px;
        align-items: center; }
        .magazines .magazine-row .description-block .contacts-block .contact img {
          margin-right: 14px; }
        .magazines .magazine-row .description-block .contacts-block .contact a {
          cursor: pointer !important; }
        .magazines .magazine-row .description-block .contacts-block .contact .contact-text {
          font-size: 18px;
          font-family: "Circe";
          color: black;
          line-height: 1.667; }
          .magazines .magazine-row .description-block .contacts-block .contact .contact-text:hover {
            color: black; }

.slider {
  background-color: #f7f7f7;
  padding-bottom: 83px; }
  .slider.jeweleries {
    padding-top: 58px; }
  .slider.hits {
    padding-top: 116px; }
    .slider.hits h1 {
      margin-bottom: 34px; }
    @media (max-width: 991px) {
      .slider.hits {
        padding-top: 30px;
        padding-bottom: 50px; } }
  .slider .gray-splitter {
    width: 160px;
    margin-right: 12px;
    margin-left: 12px;
    position: relative; }
    @media (max-width: 991px) {
      .slider .gray-splitter {
        display: none; } }
    .slider .gray-splitter:before {
      position: absolute;
      content: '';
      border-bottom: 1px dashed #cbcbcb;
      height: 2px;
      top: 20px;
      left: 0;
      width: 100%; }
  .slider .container {
    position: relative; }
    .slider .container .arrow {
      position: absolute;
      top: 0;
      bottom: 40px;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.2);
      width: 45px;
      border: 0;
      border-radius: 100%;
      padding: 0;
      height: 45px; }
      @media (max-width: 991px) {
        .slider .container .arrow {
          display: none; } }
      .slider .container .arrow:hover {
        background: #0092c5; }
      .slider .container .arrow.left {
        left: -63px; }
        .slider .container .arrow.left img {
          position: relative;
          left: -3px; }
      .slider .container .arrow.right {
        right: -63px; }
        .slider .container .arrow.right img {
          transform: rotate(180deg); }
  .slider .slider-nav {
    margin-top: 50px;
    margin-bottom: 31px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d0d2d7; }
    @media (max-width: 991px) {
      .slider .slider-nav {
        display: none; } }
    .slider .slider-nav .slider-nav--item {
      margin-right: 25px;
      margin-left: 25px;
      padding-bottom: 13px; }
      .slider .slider-nav .slider-nav--item:hover button {
        color: #44afd4; }
        .slider .slider-nav .slider-nav--item:hover button:after {
          opacity: 1; }
      .slider .slider-nav .slider-nav--item.active button {
        color: #44afd4; }
        .slider .slider-nav .slider-nav--item.active button:after {
          opacity: 1; }
      .slider .slider-nav .slider-nav--item button {
        padding: 0;
        position: relative;
        background: transparent;
        border: 0;
        font-size: 24px;
        font-family: "PFAgoraSerifPro";
        line-height: 1.2;
        color: #333333; }
        .slider .slider-nav .slider-nav--item button:after {
          position: absolute;
          content: '';
          width: 100%;
          height: 2px;
          background-color: #0092c5;
          bottom: -13px;
          left: 0;
          opacity: 0; }
  .slider .slider-container {
    padding: 0;
    margin-bottom: 28px; }
    .slider .slider-container .slider-item {
      background-color: white;
      height: 500px;
      text-align: center;
      padding-top: 31px;
      position: relative; }
      @media (max-width: 991px) {
        .slider .slider-container .slider-item {
          width: 300px;
          margin: auto; } }
      .slider .slider-container .slider-item:hover {
        padding-top: 30px;
        border: 1px solid #44afd4; }
      .slider .slider-container .slider-item .promo-label {
        border-radius: 100%;
        position: absolute;
        left: 15px;
        top: 60px;
        width: 53px;
        height: 53px;
        color: white;
        background-color: #f99191;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-family: "PFAgoraSerifProB"; }
        .slider .slider-container .slider-item .promo-label .sale-amount {
          font-size: 18px;
          margin-bottom: 0;
          line-height: 1;
          margin-top: 5px;
          margin-left: -5px; }
        .slider .slider-container .slider-item .promo-label .text {
          font-size: 11px;
          margin-bottom: 0;
          margin-top: -16px; }
        .slider .slider-container .slider-item .promo-label.new {
          background-color: #6b6b6b;
          font-size: 18px;
          text-transform: uppercase; }
      .slider .slider-container .slider-item h3 {
        font-size: 24px;
        font-family: "PFAgoraSerifProB";
        color: black;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 0; }
      .slider .slider-container .slider-item .item-img {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; }
        .slider .slider-container .slider-item .item-img img {
          margin: auto;
          max-width: 100%;
          width: 100%;
          max-height: 100%; }
      .slider .slider-container .slider-item .item-price-block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 110px;
        border-bottom: 1px solid #d0d2d7;
        border-top: 1px solid #d0d2d7; }
        .slider .slider-container .slider-item .item-price-block .old-price {
          font-size: 24px;
          font-family: "PFAgoraSerifProB";
          color: #b0b0b0;
          text-decoration: line-through;
          line-height: 1.2;
          text-align: center; }
        .slider .slider-container .slider-item .item-price-block .price {
          font-size: 36px;
          font-family: "PFAgoraSerifProB";
          color: black;
          font-weight: bold;
          line-height: 1.2;
          text-align: center; }
      .slider .slider-container .slider-item .item-btn-block {
        padding-top: 21px; }
    .slider .slider-container .owl-dots {
      margin-top: 53px !important; }
    .slider .slider-container .slider-navigation {
      position: relative; }
      .slider .slider-container .slider-navigation .arrow {
        position: absolute; }

.header-slider {
  position: relative; }
  @media (max-width: 991px) {
    .header-slider {
      display: none; } }
  .header-slider .slider-arrow {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 40px;
    margin: auto;
    background: transparent;
    border: 0;
    width: 30px;
    height: 55px; }
    .header-slider .slider-arrow:hover:before {
      background-color: #0092c5; }
    .header-slider .slider-arrow:hover:after {
      background-color: #0092c5; }
    .header-slider .slider-arrow.left {
      left: 30px; }
    .header-slider .slider-arrow.right {
      right: 30px;
      transform: rotate(180deg);
      top: -27px; }
    .header-slider .slider-arrow:before {
      content: '';
      position: absolute;
      left: 0;
      height: 3px;
      width: 30px;
      background: white;
      transform: rotate(45deg); }
    .header-slider .slider-arrow:after {
      content: '';
      position: absolute;
      left: 0;
      height: 3px;
      width: 30px;
      top: 7px;
      background: white;
      transform: rotate(-45deg); }
  .header-slider .owl-dots {
    transform: translateY(-55px); }
    .header-slider .owl-dots .owl-dot.active span {
      background: #0092c5; }
    .header-slider .owl-dots .owl-dot span {
      background: white; }
  .header-slider .slider-item {
    position: relative;
    text-align: center; }
    .header-slider .slider-item .bg-container {
      position: relative;
      text-align: center; }
      .header-slider .slider-item .bg-container .bg-img {
        width: initial;
        height: initial;
        z-index: -1; }
    .header-slider .slider-item .header-slider-item-content {
      padding-top: 87px;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto; }
      .header-slider .slider-item .header-slider-item-content .splitter {
        display: flex;
        align-items: center;
        margin-bottom: 33px; }
        .header-slider .slider-item .header-slider-item-content .splitter button {
          margin-right: 20px;
          margin-left: 20px; }
        .header-slider .slider-item .header-slider-item-content .splitter .white-line {
          flex: 1;
          height: 2px;
          background: white; }
        .header-slider .slider-item .header-slider-item-content .splitter .logo {
          width: 41px !important;
          height: 44px !important; }
      .header-slider .slider-item .header-slider-item-content .text-block {
        text-align: center; }
        .header-slider .slider-item .header-slider-item-content .text-block .text {
          font-size: 48px;
          font-family: "PFAgoraSerifProB";
          color: #333333;
          text-transform: uppercase;
          line-height: 1;
          margin-bottom: 0; }
        .header-slider .slider-item .header-slider-item-content .text-block .text-blue {
          font-size: 48px;
          line-height: 1;
          margin-bottom: 33px; }
      .header-slider .slider-item .header-slider-item-content .item-img-container {
        width: 90%;
        margin: 16px auto auto; }
        .header-slider .slider-item .header-slider-item-content .item-img-container > img {
          max-width: 70%;
          margin-left: auto;
          margin-right: auto;
          max-height: initial; }

@media (min-width: 992px) {
  .mobile-header-slider-section {
    display: none; } }
.mobile-header-slider-section .owl-dots {
  transform: translateY(-40px); }
  .mobile-header-slider-section .owl-dots .owl-dot.active span {
    background: #0092c5; }
  .mobile-header-slider-section .owl-dots .owl-dot span {
    background: white; }

.subscribe-section {
  padding-top: 61px;
  padding-bottom: 56px;
  background-image: url("../assets/bg-subscribe.png"); }
  @media (max-width: 991px) {
    .subscribe-section {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 40px; } }
  .subscribe-section .subscribe-block {
    width: 100%;
    display: flex;
    margin-top: 43px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (max-width: 991px) {
      .subscribe-section .subscribe-block {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 23px; } }
    .subscribe-section .subscribe-block input {
      outline: none !important;
      border: 0;
      background-color: #f7f7f7;
      border-radius: 20px;
      width: 100%;
      padding-left: 25px;
      padding-right: 25px;
      margin-right: -190px;
      height: 47px; }
      @media (max-width: 991px) {
        .subscribe-section .subscribe-block input {
          margin-right: 0;
          margin-bottom: 16px; } }
      .subscribe-section .subscribe-block input::placeholder {
        font-size: 18px;
        font-family: "PFAgoraSerifPro";
        color: #333333;
        line-height: 1.2; }
    .subscribe-section .subscribe-block button {
      margin-top: 2px;
      line-height: 1;
      padding-top: 10px;
      padding-bottom: 10px; }

.item-collections {
  justify-content: space-between;
  width: 1170px; }
  @media (max-width: 991px) {
    .item-collections {
      width: 300px;
      margin: auto; } }
  .item-collections .item {
    position: relative;
    width: 372px;
    height: 372px;
    margin-bottom: 26px;
    overflow: hidden; }
    @media (max-width: 991px) {
      .item-collections .item {
        width: 100%; } }
    .item-collections .item .img-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1; }
      @media (max-width: 991px) {
        .item-collections .item .img-bg {
          height: initial;
          width: initial; } }
    .item-collections .item.width-item {
      width: 771px;
      height: 372px; }
      @media (max-width: 991px) {
        .item-collections .item.width-item {
          width: 100%; }
          .item-collections .item.width-item .img-bg {
            position: absolute;
            top: 0;
            left: -310px;
            width: initial;
            z-index: 1; } }
      .item-collections .item.width-item .item-content {
        justify-content: space-between;
        padding-left: 42px;
        padding-bottom: 119px;
        padding-top: 126px; }
        @media (max-width: 991px) {
          .item-collections .item.width-item .item-content {
            padding-left: 30px;
            padding-bottom: 30px;
            padding-top: 30px; } }
    .item-collections .item .item-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 33px 51px; }
      @media (max-width: 991px) {
        .item-collections .item .item-content {
          padding: 30px 30px; } }
      .item-collections .item .item-content.centered {
        align-items: center;
        text-align: center; }
      .item-collections .item .item-content .item-name {
        font-size: 24px;
        font-family: "Circe";
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        line-height: 1.2; }
      .item-collections .item .item-content .button {
        width: 225px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 19px; }

.promo-woman {
  background-image: url("../assets/bg-woman.png");
  background-position-x: 100%;
  background-size: cover;
  height: 731px;
  padding-top: 127px; }
  @media (max-width: 991px) {
    .promo-woman {
      padding-top: 40px;
      background-position-x: 0;
      height: auto;
      padding-bottom: 30px; } }
  .promo-woman .logo {
    margin-bottom: 37px; }
    @media (max-width: 991px) {
      .promo-woman .logo {
        max-width: 100%; } }
  .promo-woman .promo-description {
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    width: 466px; }
    @media (max-width: 991px) {
      .promo-woman .promo-description {
        width: 100%; } }

.top-nav .top-nav--row {
  padding-top: 9px;
  padding-bottom: 9px;
  justify-content: center; }
  .top-nav .top-nav--row .top-nav--item {
    padding-left: 22px;
    padding-right: 22px;
    border-right: 1px solid #afafaf; }
    .top-nav .top-nav--row .top-nav--item a {
      text-transform: uppercase;
      font-size: 18px;
      color: #232222;
      line-height: 1;
      position: relative; }
      .top-nav .top-nav--row .top-nav--item a:hover, .top-nav .top-nav--row .top-nav--item a .active {
        text-decoration: none;
        color: #44afd4; }
        .top-nav .top-nav--row .top-nav--item a:hover:before, .top-nav .top-nav--row .top-nav--item a .active:before {
          content: '';
          position: absolute;
          top: -8px;
          width: 100%;
          background: #44afd4;
          height: 1px;
          left: 0;
          right: 0;
          margin: auto; }
        .top-nav .top-nav--row .top-nav--item a:hover:after, .top-nav .top-nav--row .top-nav--item a .active:after {
          content: '';
          position: absolute;
          bottom: -9px;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          background: #44afd4;
          height: 1px; }
    .top-nav .top-nav--row .top-nav--item:first-of-type {
      border-left: 1px solid #afafaf; }

.social-block {
  display: flex;
  margin-top: 16px; }
  @media (max-width: 991px) {
    .social-block {
      justify-content: center; } }
  .social-block .social-block-item {
    margin-right: 6px;
    width: 24px;
    height: 24px;
    display: flex;
    background-color: #afafaf;
    border-radius: 100%; }
    .social-block .social-block-item:hover {
      background-color: #44afd4; }
    .social-block .social-block-item a {
      width: 100%;
      height: 100%;
      display: flex; }
      .social-block .social-block-item a:hover {
        text-decoration: none; }
      .social-block .social-block-item a i {
        margin: auto;
        color: white;
        font-size: 14px; }

footer {
  height: 370px;
  background-image: url("../assets/bg-footer.png");
  padding-top: 75px; }
  @media (max-width: 991px) {
    footer {
      background-image: url("../assets/bg-footer-mobile.png");
      height: 575px;
      background-size: cover;
      padding-top: 29px;
      padding-bottom: 95px; } }
  @media (max-width: 991px) {
    footer .pic-block {
      margin-bottom: 60px; } }
  footer .copyright {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 36px; }
  footer .logo {
    margin-bottom: 11px; }
  footer .phone {
    font-size: 18px;
    color: #333333;
    line-height: 1.2;
    font-family: 'Circe', sans-serif; }
  footer .footer-menu .footer-menu--name {
    font-size: 18px;
    color: #333333;
    font-family: 'Circe', sans-serif;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 8px; }
    @media (max-width: 991px) {
      footer .footer-menu .footer-menu--name {
        text-align: center; } }
  footer .footer-menu .footer-menu--item {
    color: #333333;
    font-size: 14px;
    display: block;
    margin-bottom: 4px; }
    footer .footer-menu .footer-menu--item:hover {
      color: #44afd4; }
  footer .payment-block {
    display: flex;
    margin-bottom: 31px;
    margin-top: 16px; }
    @media (max-width: 991px) {
      footer .payment-block {
        justify-content: center; } }
    footer .payment-block .payment-item {
      border-radius: 20px;
      background-color: white;
      width: 97px;
      height: 41px;
      margin-right: 25px;
      display: flex; }
      footer .payment-block .payment-item:last-of-type {
        margin-right: 0; }
      footer .payment-block .payment-item img {
        margin: auto; }

@font-face {
  font-family: 'PFAgoraSerifPro';
  src: url("../fonts/pfagoraserifpro-regular.ttf"); }
@font-face {
  font-family: 'PFAgoraSerifProB';
  src: url("../fonts/pfagoraserifpro-bold.ttf"); }
.franshize-header {
  background: url("../assets/bg-franshize-header.png");
  background-size: cover;
  height: 637px;
  padding-top: 101px; }
  @media (max-width: 991px) {
    .franshize-header {
      height: auto;
      -ms-background-position-x: 20%;
      background-position-x: 20%; } }
  .franshize-header .main-text {
    font-size: 47px;
    font-family: "Circe";
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 34px; }
    @media (max-width: 991px) {
      .franshize-header .main-text {
        font-size: 37px; } }
  .franshize-header .secondary-text {
    font-size: 36px;
    font-family: "Circe";
    color: #0092c5;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 30px; }
    @media (max-width: 991px) {
      .franshize-header .secondary-text {
        font-size: 26px; } }
    .franshize-header .secondary-text .extra-bold {
      font-weight: 900; }
  .franshize-header .options-text {
    padding-left: 10px;
    font-family: "Circe";
    color: white;
    font-weight: 300; }
    .franshize-header .options-text li {
      line-height: 1.5; }

.franshize-tiles {
  padding-top: 73px;
  padding-bottom: 95px; }
  .franshize-tiles .tile {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 28px;
    border: 1px solid #dddddd;
    background: white;
    height: 414px; }
    @media (max-width: 768px) {
      .franshize-tiles .tile {
        height: 414px; } }
    @media (max-width: 991px) {
      .franshize-tiles .tile {
        height: 430px; } }
    .franshize-tiles .tile:hover {
      background: #f7f7f7;
      border: 1px solid #f7f7f7; }
    .franshize-tiles .tile .tile-img {
      height: 170px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 38px; }
    .franshize-tiles .tile .tile-text {
      font-size: 24px;
      font-family: "Circe";
      color: #0092c5;
      line-height: 1.2;
      margin-bottom: 20px; }
    .franshize-tiles .tile .tile-subtext {
      font-size: 14px;
      font-family: "Circe";
      color: #333333;
      line-height: 1.2; }

.franshize-opportunities {
  padding-top: 71px;
  padding-bottom: 77px; }
  .franshize-opportunities .opportunity-items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .franshize-opportunities .opportunity-items-container .opportunity-item {
      display: flex;
      align-items: end; }
      .franshize-opportunities .opportunity-items-container .opportunity-item img {
        margin-right: 17px;
        margin-bottom: 10px; }
      .franshize-opportunities .opportunity-items-container .opportunity-item .opportunity-item-text {
        padding-top: 12px;
        font-size: 18px;
        font-family: "Circe";
        color: #333333;
        line-height: 1.2;
        margin-bottom: 12px; }

.franshize-formats {
  background-color: #fbfbfb;
  padding-top: 69px; }

.franshize-geo {
  padding-top: 79px;
  padding-bottom: 56px; }
  .franshize-geo .main-header {
    margin-bottom: 29px; }
  .franshize-geo .franshize-geo-img {
    margin-bottom: 43px; }
  .franshize-geo .franshize-geo-description {
    font-size: 17px;
    font-family: "Gilroy";
    color: #333333;
    line-height: 1.2;
    text-align: center; }
  .franshize-geo .geo-stats {
    font-size: 24px;
    font-weight: bold;
    font-family: "Circe";
    line-height: 1.2;
    text-align: center; }
    .franshize-geo .geo-stats .num {
      font-size: 36px; }
      .franshize-geo .geo-stats .num.pink {
        color: #f99191; }
      .franshize-geo .geo-stats .num.blue {
        color: #44afd4; }
  .franshize-geo .geo-conclusion {
    font-size: 24px;
    font-family: "Circe";
    color: #0092c5;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 0; }

.franshize-active-shops {
  padding-top: 73px;
  padding-bottom: 26px; }
  .franshize-active-shops .franshize-active-shops-item {
    padding-bottom: 64px; }
    .franshize-active-shops .franshize-active-shops-item .shop-geo {
      text-align: center;
      margin-bottom: 40px; }
      .franshize-active-shops .franshize-active-shops-item .shop-geo .city {
        font-size: 24px;
        font-family: "Circe";
        color: #333333;
        font-weight: bold;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 30px; }
      .franshize-active-shops .franshize-active-shops-item .shop-geo .mall {
        font-size: 18px;
        font-family: "Gilroy";
        color: #0092c5;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 0;
        text-transform: uppercase; }
      .franshize-active-shops .franshize-active-shops-item .shop-geo .address {
        font-size: 18px;
        font-family: "Circe";
        color: #333333;
        line-height: 1;
        margin-bottom: 0; }
    .franshize-active-shops .franshize-active-shops-item .shop-values {
      margin-bottom: 44px; }
      .franshize-active-shops .franshize-active-shops-item .shop-values .value-text {
        font-size: 24px;
        font-family: "Circe";
        color: #3c3c3c;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 0;
        text-align: left; }
        @media (max-width: 768px) {
          .franshize-active-shops .franshize-active-shops-item .shop-values .value-text {
            font-size: 18px; } }
        @media (max-width: 991px) {
          .franshize-active-shops .franshize-active-shops-item .shop-values .value-text {
            font-size: 20px; } }
      .franshize-active-shops .franshize-active-shops-item .shop-values .num {
        font-weight: bolder;
        color: #0092c5; }

.franshize-director .director-description-container {
  max-width: 585px;
  padding: 0; }
  @media (max-width: 991px) {
    .franshize-director .director-description-container {
      padding: 24px 15px; } }
  .franshize-director .director-description-container .main-header {
    text-align: left;
    margin-bottom: 30px; }
  .franshize-director .director-description-container .sub-header {
    font-size: 24px;
    font-family: "Circe";
    color: #333333;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px; }
  .franshize-director .director-description-container .director-description {
    font-size: 18px;
    font-family: "Gilroy";
    color: #333333;
    line-height: 1.2; }

.checkout-franshize {
  background-image: url("../assets/bg-franshize-email.png");
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 56px; }
  .checkout-franshize .franshize-email-text {
    font-size: 30px;
    font-family: "Circe";
    color: white;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 25px; }
    @media (max-width: 991px) {
      .checkout-franshize .franshize-email-text {
        font-size: 24px; } }
  .checkout-franshize .franshize-email-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; }
    @media (max-width: 991px) {
      .checkout-franshize .franshize-email-form {
        justify-content: center;
        flex-wrap: wrap; } }
    .checkout-franshize .franshize-email-form input {
      font-family: Circe;
      width: 294px;
      padding-left: 18px;
      border-radius: 23px;
      background-color: #f7f7f7;
      height: 47px;
      border: 0;
      margin-right: 15px;
      line-height: 1.2; }
      @media (max-width: 991px) {
        .checkout-franshize .franshize-email-form input {
          width: 100%;
          margin-bottom: 16px;
          margin-right: 0; } }
      .checkout-franshize .franshize-email-form input::placeholder {
        font-size: 18px;
        font-family: "Circe";
        color: #333333;
        line-height: 1.2;
        position: relative;
        top: 3px; }
    .checkout-franshize .franshize-email-form .btn-pink {
      font-size: 18px;
      font-family: "Circe";
      color: white;
      width: 199px; }

.mobile-modal-menu-container {
  padding-top: 9px;
  padding-right: 10px;
  padding-left: 51px;
  margin: 0;
  background: transparent;
  border: 0;
  border-radius: 0; }
  .mobile-modal-menu-container .btn-menu {
    margin-bottom: 62px;
    text-align: right; }
  .mobile-modal-menu-container .menu-name {
    font-size: 18px;
    font-family: "Circe";
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 10px; }
  .mobile-modal-menu-container .menu-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 25px; }
    .mobile-modal-menu-container .menu-list a {
      font-size: 14px;
      font-family: "Circe";
      font-weight: 300;
      color: white; }

@media (min-width: 992px) {
  .modal-dialog.city-modal {
    max-width: 631px; } }
@media (min-width: 992px) {
  .modal-dialog.call-modal {
    max-width: 631px; } }

.custom-modal {
  border: 0; }
  .custom-modal.city {
    background: url("../assets/border-image-city1.png");
    padding: 12px;
    background-size: cover; }
    @media (max-width: 991px) {
      .custom-modal.city {
        padding: 0; } }
  .custom-modal.call {
    background: url("../assets/border-image-callback.png");
    padding: 12px;
    background-size: cover; }
    @media (max-width: 991px) {
      .custom-modal.call {
        padding: 0; } }
    .custom-modal.call input {
      margin-bottom: 22px !important; }
    .custom-modal.call h2 {
      margin-bottom: 42px !important; }
  .custom-modal .custom-modal-container {
    display: flex;
    flex-wrap: wrap;
    background: white;
    padding: 13px 49px;
    justify-content: center; }
    .custom-modal .custom-modal-container h2 {
      width: 100%;
      font-size: 30px;
      margin-bottom: 26px; }
    .custom-modal .custom-modal-container input {
      border: 1px solid #060606;
      border-radius: 20px;
      background-color: white;
      width: 100%;
      height: 40px;
      padding-left: 16px;
      font-size: 18px;
      font-family: "Circe";
      color: #333333;
      line-height: 1.2;
      margin-bottom: 13px; }
    .custom-modal .custom-modal-container .btn-menu {
      margin-top: 0;
      margin-right: -34px; }
    .custom-modal .custom-modal-container .text-support {
      font-size: 14px;
      font-family: "Circe";
      color: #333333;
      line-height: 1.2;
      text-align: left;
      width: 100%; }
    .custom-modal .custom-modal-container button {
      margin-top: 24px;
      margin-bottom: 37px; }