.about-section {
  padding-top: 43px;
  h1 {
    margin-bottom: 45px;
  }
  p {
    margin-bottom: 0;
  }
  .promo-block {
    margin-top: 42px;
    margin-bottom: 94px;
    padding-top: 80px;
    height: 497px;
    background: url("../assets/bg-about-promo.png");
    .promo-description {
      img {
        width: 255px;
      }
      .splitter {
        margin-top: 32px;
        margin-bottom: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        .split-item-white {
          width: 100px;
          height: 2px;
          border-top: 1px dashed white;
        }
        img {
          width: 28px;
          margin-right: 15px;
          margin-left: 15px;
        }
      }
      .primary-text {
        font-family: Circe;
        padding-left: 13px;
        padding-right: 13px;
      }
    }
  }
}

.about-quality {
  padding-top: 81px;
  padding-bottom: 85px;
  @media (max-width:991px){
    padding-top: 30px;
    padding-bottom: 30px;
  }
  background-image: url("../assets/bg-about-quality.png");
  background-size: cover;
  h3 {
    font-family: Circe;
    margin-bottom: 33px;
  }
  p {
    padding-right: 20px;
    margin-bottom: 0;
  }

}

.about-proof {
  padding-top: 81px;
  padding-bottom: 85px;
  @media (max-width:991px){
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h3 {
    font-family: Circe;
    margin-bottom: 33px;
  }
  p {
    margin-bottom: 0;
  }
}

.about-individuality {
  padding-top: 78px;
  padding-bottom: 78px;
  background-image: url('../assets/bg-about-individuality.png');
  background-size: cover;
  @media (max-width:991px){
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h3 {
    font-family: Circe;
    margin-bottom: 33px;
  }
  p {
    margin-bottom: 0;
  }
  .about-description {
    padding-left: 15px;
    width: 417px;
    @media (max-width:991px){
      width: 100%;
    }

  }
}