@font-face {
  font-family: 'PFAgoraSerifPro';
  src: url("../fonts/pfagoraserifpro-regular.ttf") ;

}
@font-face {
  font-family: 'PFAgoraSerifProB';
  src: url("../fonts/pfagoraserifpro-bold.ttf");
}