footer {
  height: 370px;
  background-image: url("../assets/bg-footer.png");
  padding-top: 75px;
  .copyright {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 36px;
  }
  .logo {
    margin-bottom: 11px;
  }
  .phone {
    font-size: 18px;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    font-family: 'PFAgoraSerifProB', sans-serif;
  }
  .footer-menu {
    .footer-menu--name {
      font-size: 18px;
      color: rgb(51, 51, 51);
      font-family: 'PFAgoraSerifProB', sans-serif;
      line-height: 1.2;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    .footer-menu--item {
      color: rgb(51, 51, 51);
      font-size: 14px;
      display: block;
      margin-bottom: 4px;
      &:hover {
        color: $blue;
      }
    }
  }
  .payment-block {
    display: flex;
    margin-bottom: 31px;
    margin-top: 16px;
    .payment-item{
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      width: 97px;
      height: 41px;
      margin-right: 25px;
      display: flex;
      img{
        margin: auto;
      }
    }
  }

}

