.header-container {
  padding-top: 10px;
  padding-bottom: 25px;

  @media(max-width: 991px) {
    padding-bottom: 8px;
    padding-top: 24px;
    border-bottom: 0;
  }
  border-bottom: 1px solid rgb(175, 175, 175);
  p {
    margin-bottom: 0;
    line-height: 1;
  }
  .row > .col-auto {
    padding: 0;
  }
  .icon {
    background-color: rgb(0, 146, 197);
    width: 26px;
    height: 26px;
    border-radius: 100%;
    display: flex;
    margin-right: 10px;
    img {
      margin: auto;
    }
  }
  .city-block {
    display: flex;
    @media(max-width: 991px) {
      margin-bottom: 36px;
      justify-content: center;

    }
    .name {
      font-size: 18px;
      color: rgb(35, 34, 34);
      line-height: 1.2;
      a {
        color: #44afd4;
      }
    }
    .change-city {
      font-size: 11px;
      color: rgb(35, 34, 34);
      padding-left: 10px;
      cursor: pointer;
      top: -8px;
      position: relative;
      &:hover {
        text-decoration: underline;
      }
      img {
        margin-left: 10px;
      }
    }
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    &.content-city{
      position: relative;
      .change-city-popup {
        top:45px;
        position: absolute;
        border: 2px solid rgb(12, 151, 199);
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px 0px rgba(3, 7, 14, 0.4);
        width: 310px;
        height: 132px;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding-left: 26px;
        span {
          font-size: 18px;
          color: rgb(51, 51, 51);
          line-height: 1.2;

        }
        .btn-blue{
          margin-right: 16px;
        }
      }
    }
  }
  .logo {
    @media(max-width: 991px) {
      text-align: center;
      margin-bottom: 36px;
    }
  }
  .phone-block {
    display: flex;

    @media(max-width: 991px) {
      margin-bottom: 36px;
      justify-content: center;
    }
    p {
      text-align: left;
    }
    .phone {
      font-size: 24px;
      font-weight: bold;
      color: rgb(35, 34, 34);
      line-height: 1.25;
    }
    .region {
      text-align: left;
      font-size: 15px;
      color: rgb(35, 34, 34);
      line-height: 1;
      margin-bottom: 0;
    }
  }
}

.mobile-menu-container {
  display: none;
  @media(max-width: 991px) {
    display: block;
  }
  .mobile-menu {
    align-items: center;
    background-color: rgb(247, 249, 252);
    height: 44px;
    padding-left: 13px;
    padding-right: 6px;
    .button.btn-blue {
      img {
        margin-right: 20px;
      }
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 14px;
      font-family: "Gilroy";
      font-weight: 300;
      color: rgb(255, 255, 255);
      line-height: 1.2;
    }

  }
}
