.slider {
  background-color: #f7f7f7;
  padding-bottom: 83px;
  &.jeweleries {
    padding-top: 58px;
  }
  &.hits {
    padding-top: 116px;
    h1 {
      margin-bottom: 34px;
    }
    @media (max-width:991px) {
      padding-top: 30px;
      padding-bottom: 50px;
    }
  }
  .gray-splitter {
    width: 160px;
    margin-right: 12px;
    margin-left: 12px;
    position: relative;
    @media (max-width:991px){
      display: none;
    }
    &:before {
      position: absolute;
      content: '';
      border-bottom: 1px dashed rgb(203, 203, 203);
      height: 2px;
      top: 20px;
      left: 0;
      width: 100%;
    }
  }
  .container {
    position: relative;

    .arrow {
      position: absolute;
      top: 0;
      bottom: 40px;
      margin: auto;
      background-color: rgba(0, 0, 0, .2);
      width: 45px;
      border: 0;
      @media(max-width:991px){
        display: none;
      }
      &:hover {
        background: #0092c5;
      }
      border-radius: 100%;
      padding: 0;
      height: 45px;
      &.left {
        left: -63px;
        img {
          position: relative;
          left: -3px;
        }
      }
      &.right {
        right: -63px;
        img {
          transform: rotate(180deg);
        }
      }

    }
  }
  .slider-nav {
    margin-top: 50px;
    margin-bottom: 31px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(208, 210, 215);
    @media(max-width: 991px){
      display: none;
    }
    .slider-nav--item {
      margin-right: 25px;
      margin-left: 25px;
      padding-bottom: 13px;
      &:hover{
        button {
          color: $blue;
          &:after {
            opacity: 1;
          }
        }
      }
      &.active{
        button {
          color: $blue;
          &:after {
            opacity: 1;
          }
        }
      }
      button {
        padding: 0;
        position: relative;
        background: transparent;
        border: 0;
        font-size: 24px;
        font-family: "PFAgoraSerifPro";
        //color: rgb(0, 146, 197);
        line-height: 1.2;
        color: rgb(51, 51, 51);
        &:after {
          position: absolute;
          content: '';
          width: 100%;
          height: 2px;
          background-color: rgb(0, 146, 197);
          bottom: -13px;
          left: 0;
          opacity: 0;
        }
      }
    }
  }
  .slider-container {
    padding: 0;
    margin-bottom: 28px;
    .slider-item {
      background-color: white;
      height: 500px;
      text-align: center;
      padding-top: 31px;
      position: relative;
      @media (max-width: 991px) {
        width: 300px;
        margin: auto;
      }
      &:hover {
        padding-top: 30px;
        border: 1px solid $blue;
      }
      .promo-label {
        border-radius: 100%;
        position: absolute;
        left: 15px;
        top: 60px;
        width: 53px;
        height: 53px;
        color: white;
        background-color: rgb(249, 145, 145);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-family: "PFAgoraSerifProB";
        .sale-amount {
          font-size: 18px;
          margin-bottom: 0;
          line-height: 1;
          margin-top: 5px;
          margin-left: -5px;
        }
        .text {
          font-size: 11px;
          margin-bottom: 0;
          margin-top: -16px;
        }
        &.new {

          background-color: rgb(107, 107, 107);
          font-size: 18px;
          text-transform: uppercase;
        }
      }
      h3 {
        font-size: 24px;
        font-family: "PFAgoraSerifProB";
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 0;
      }
      .item-img {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        img {
          margin: auto;
          max-width: 100%;
          width: 100%;
          max-height: 100%;
        }
      }
      .item-price-block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 110px;
        border-bottom: 1px solid rgb(208, 210, 215);
        border-top: 1px solid rgb(208, 210, 215);
        .old-price {
          font-size: 24px;
          font-family: "PFAgoraSerifProB";
          color: rgb(176, 176, 176);
          text-decoration: line-through;
          line-height: 1.2;
          text-align: center;
        }
        .price {
          font-size: 36px;
          font-family: "PFAgoraSerifProB";
          color: rgb(0, 0, 0);
          font-weight: bold;
          line-height: 1.2;
          text-align: center;
        }
      }
      .item-btn-block {
        padding-top: 21px;
      }

    }
    .owl-dots {
      margin-top: 53px !important;
    }
    .slider-navigation {
      position: relative;
      .arrow {
        position: absolute;

      }
    }
  }
}

.header-slider {
  @media (max-width:991px){
    display: none;
  }
  position: relative;
  .slider-arrow {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 40px;
    margin: auto;
    background: transparent;
    border: 0;
    width: 30px;
    height: 55px;
    &:hover {
      &:before {
        background-color: $deepBlue;
      }
      &:after {
        background-color: $deepBlue;
      }
    }
    &.left {
      left: 30px;
    }
    &.right {
      right: 30px;
      transform: rotate(180deg);
      top: -27px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      height: 3px;
      width: 30px;
      background: white;
      transform: rotate(45deg);
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      height: 3px;
      width: 30px;
      top: 7px;
      background: white;
      transform: rotate(-45deg);
    }
  }
  .owl-dots {
    transform: translateY(-55px);
    .owl-dot {
      &.active {
        span {
          background: $deepBlue;
        }
      }
      span {
        background: white;
      }
    }
  }
  .slider-item {
    position: relative;
    text-align: center;
    .bg-container {
      position: relative;
      text-align: center;
      .bg-img {
        width: initial;
        height: initial;
        //left: 0;
        //right: 0;
        //position: relative;
        //margin: auto;
        z-index: -1;
      }

    }
    .header-slider-item-content {
      //@media (min-width: 1440px) {
      padding-top: 87px;
      //}
      //padding-top: 87px;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      .splitter {
        display: flex;
        align-items: center;
        margin-bottom: 33px;
        button {
          margin-right: 20px;
          margin-left: 20px;
        }
        .white-line {
          flex: 1;
          height: 2px;
          background: white;
        }
        .logo {
          width: 41px !important;
          height: 44px !important;
        }

      }
      .text-block {
        text-align: center;
        .text {
          //@media (min-width: 1440px) {
          font-size: 48px;

          //}
          //font-size: 24px;
          font-family: "PFAgoraSerifProB";
          color: rgb(51, 51, 51);
          text-transform: uppercase;
          line-height: 1;
          margin-bottom: 0;
        }
        .text-blue {
          //@media (min-width: 1440px) {
          font-size: 48px;

          //}
          line-height: 1;
          margin-bottom: 33px;
          //font-size: 24px;
        }
      }
      .item-img-container {
        width: 90%;
        margin: 16px auto auto;
        > img {
          max-width: 70%;
          margin-left: auto;
          margin-right: auto;
          max-height: initial;
        }
      }
    }
  }
}

.mobile-header-slider-section{
  @media (min-width:992px){
    display: none;
  }
  .owl-dots {
    transform: translateY(-40px);
    .owl-dot {
      &.active {
        span {
          background: $deepBlue;
        }
      }
      span {
        background: white;
      }
    }
  }
}