.tiles{
  padding-top: 124px;
  margin-bottom: 91px;
  .tile-item{
    text-align: center;
    &:first-of-type{
      img{
        margin-top: 16px;
      }
    }
    &:nth-of-type(2){
      img{
        margin-top: 4px;
      }
    }
    img{
      margin-bottom: 67px;
    }
  }
}